.App{
  background-color: black;
  color: #6DD401;
  font-family: 'Roboto', sans-serif;
}

.App__Header{
  text-align: center;
}

.App__Header--Title{
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: 0;
}

.Input__Container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Input{
  margin: 10px;
  background: #6DD401;
}

.Status{
  text-align: center;
}

.User__Card--PasswordsCont{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
  
}

.User__Card--Passwords{
  margin: 5px;
}

.User__Card--BankInfo{
  list-style: none;
  margin: 0;
  padding: 0;
  
}
